@media screen and (min-width: 1280px) {
    body {
          max-width: 1280px;
          margin: 0 auto;
    }

    .content {
          width: 1280px;
          display: flex;
    }

    main {
        width: 100%;
        order: 2;
    }

  
}

/* Tablet Screen Sizes */
@media screen and (max-width: 960px) {
   

    #main-nav .collapse {
        display: block;
    }

    #main-nav > li > span.collapse {
        display: none;
    }

    .collapse + ul {
        position: inherit;
    }

    #main-nav >  li > a,
    #main-nav >  li > .collapse + ul > li > a {
        color: #333;
        display: inline-block;
        height: auto;
    }
    #featured{
      display: blockS;
    }

   

    /* Collapsed Menu */
    #main-nav{
        height: 60px;
        width: fit-content;
        align-items: center;
        text-align: center;
    }

   
   

     li {
        text-align: center;
        margin: 0;
    }

   

  
}

@media screen and (max-width: 800px) {
    #main-nav {
        display: inherit;
        height: auto;
        align-items: center;
        text-align: center;
        font-size: 100%;
    }
    #inventory{
        width:fit-content;

    }

   
  
}
